@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="span10">
    <!-- content starts -->

    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="#">Calendar</a>
            </li>
        </ul>
    </div>
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-calendar"></i>Calendar</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="external-events" class="well">
                    <h4>Draggable Events</h4>
                    <div class="external-event badge">Default</div>
                    <div class="external-event badge badge-success">Completed</div>
                    <div class="external-event badge badge-warning">Warning</div>
                    <div class="external-event badge badge-important">Important</div>
                    <div class="external-event badge badge-info">Info</div>
                    <div class="external-event badge badge-inverse">Other</div>
                    <p>
                        <label for="drop-remove"><input type="checkbox" id="drop-remove" /> remove after drop</label>
                    </p>
                </div>
                <div id="calendar"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div><!--/row-->
    <!-- content ends -->
</div>
<script>

    $(document).ready(function() {
        initProjectList();
    });

    function initProjectList() {
        $.get("/Calendar/GetProjectList", function (result) {
            if (result) {
                console.log(result);
                $("#external-events h4").append('<div id="example" class="external-event badge badge-inverse ui-draggable" style="position: relative;">' + result[0].Name + '</div>');
                $('#external-events div.external-event').each(function () {

                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    };

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject);

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 999,
                        revert: true,      // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    });

                });
            }
        });
    }

</script>

