@model IEnumerable<WeeklyReport.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="span10">
    <!-- content starts -->

    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
    </div>
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-user"></i> Members</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div>
                <div class="demo-content">
                    <div class="row">
                        <div class="span24">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
                <script src="~/Scripts/jquery-1.8.2.js"></script>
                <script src="~/Scripts/BUI/bui.js"></script>
                <script type="text/javascript">
                    var Grid = BUI.Grid,
                    Data = BUI.Data;
                    var Grid = Grid,
                  Store = Data.Store,
                  columns = [
                    { title: 'Name', dataIndex: 'Name', width: 50, elCls: 'center' }, //editor中的定义等用于 BUI.Form.Field.Text的定义
                    { title: 'Leader', dataIndex: 'UName', width: 50, elCls: 'center' },
                    {
                        title: 'StartData', dataIndex: 'StartDate', width: 100, elCls: 'center'
                    },
                    { title: 'Description', dataIndex: 'Description', width: 50, elCls: 'center' },
                    { title: 'Status', dataIndex: 'Status', width: 50, elCls: 'center' },
                    { title: 'Color', dataIndex: 'Color', width: 50, elCls: 'center' },
                    {
                        title: '',
                        renderer: function () {

                        }
                    }
                  ];
                  var    store = new Store({
                          url: '/Project/GetProject',
                          autoLoad: true,
                          pageSize: 2
                      }),
                      grid = new Grid.Grid({
                          render: '#grid',
                          columns: columns,
                          //width: '100%',
                          forceFit: true,
                          bbar: {
                              // pagingBar:表明包含分页栏
                              pagingBar: true
                          },
                          store: store
                      });

                    grid.render();
                </script>
            </div>
        </div>
    </div><!--/row-->
</div>
