<div class="fancy">
    <h3>新建事件</h3>
    <form id="add_form" method="post">
        <div class="sub_btn">
            <span class="del">
                <input type="button" class="btn btn_del"
                       id="del_event" value="删除">
            </span>
            <input type="submit" class="btn btn_ok" value="确定">
            <input type="button" class="btn btn_cancel" value="取消" onclick="$.fancybox.close()">
        </div>
    </form>
</div>

