@{
    Layout = "_DialogLayout.cshtml";
}

<h2 class="text-danger">Congraduations</h2>
<h3 class="text-danger">@ViewBag.text</h3>
<a onclick="opener.location.reload(); window.close();" style="cursor: pointer; color: blue">click here to close</a>